<!DOCTYPE html>
<html>
	<head>
		<title>SOLEDAD PASTORUTTI - AGENDA</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>Soledad Pastorutti</h1>
		</header>
		<nav>
			<ul>
				<li>
                    <a href="agenda.html">AGENDA</a>
                </li>
				<li>
					<a href="biografia.html">BIOGRAFIA</a>
				</li>
				<li>
					<a href="videos.html">VIDEOS</a>
				</li>
				<li>
					<a href="discografia.html">DISCOGRAFIA</a>
				</li>	
				<li>
					<a href="contacto.html">CONTACTO</a>
				</li>
			</ul>
		</nav>
		<main>
			<section>
				<h2>PRÓXIMOS SHOWS</h2>
				<div class="show">
					<h3>FESTIVAL DE LA INVERNADA</h3>
					<h3>Lugar:</h3> <span>América</span> 
					<h3>Hora:</h3> <span>5pm </span>
					<h3>GRATIS</h3>
				</div>
				<div class="ubicacion">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25988.28646603055!2d-62.99467643031101!3d-35.491027192989975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c3f88a6ccad20f%3A0x55a90450d11c01ee!2sAm%C3%A9rica%2C+Buenos+Aires!5e0!3m2!1ses-419!2sar!4v1526240783958" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</section>
			<aside>
			</aside>
		</main>
		<footer>
		</footer>
	</body>
</html>