<!DOCTYPE html>
<html>
	<head>
		<title>SOLEDAD PASTORUTTI - BIOGRAFÍA</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Rufina" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>Soledad Pastorutti</h1>
		</header>
		<nav>
			<ul>
				<li><a href="agenda.html">AGENDA</a></li>
				<li><a href="biografia.html">BIOGRAFIA</a></li>
				<li><a href="videos.html">VIDEOS</a></li>
				<li><a href="discografia.html">DISCOGRAFIA</a></li>	
				<li><a href="contacto.html">CONTACTO</a></li>
			</ul>
		</nav>
		<main>
		<section>
			<div class="foto">
				<img src="../img/SoledadPastorutti.jpg" alt="Soledad Pastorutti"/>
			</div>
			<div class="biografia">
				<p>Soledad Pastorutti (Arequito, 12 de octubre de 1980), más conocida como Soledad o La Sole, es una cantante de expresión folclórica, esporádicamente compositora, actriz y conductora argentina. Se la apoda El Tifón o El Huracán de Arequito, por la energía que irradia en sus presentaciones y por su característico tono de voz.</p>
				<p>Ganó el Premio Revelación Cosquín 1996. Vendió más de cuatro millones de discos. Ganó dos discos de diamante, que la convierte en la primera artista de Argentina que recibe este premio dos veces, el primero lo recibió en 2003 por el disco Poncho al viento y el segundo por haber superado las 500.000 unidades vendidas de su álbum La Sole, cuando cumple diez años de carrera.1​ Ha realizado más de 2500 shows en Argentina y el mundo. Ha tenido papeles como actriz en cine y en televisión (como en la telenovela Rincón de luz) y también como conductora desde 2008 en el programa televisivo Ecos de mi tierra, dedicado a la música Argentina. En 2014 obtuvo junto a Lila Downs y Niña Pastori el Grammy Latino de la mano de Raíz como mejor álbum folclórico.</p>
				<p>Su música renovó el folclore argentino en la década de 1990 y provocó un acercamiento de esta corriente musical a los jóvenes. Es considerada dentro de la camada de «nuevas promesas del folclore nacional» junto a otros artistas como Abel Pintos y Luciano Pereyra.</p>
			</div>
		</section>
		<aside>
		</aside>
		</main>
		<footer>
		</footer>
	</body>
</html>