<!DOCTYPE html>
<html>
	<head>
		<title>SOLEDAD PASTORUTTI - VIDEOS</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>Soledad Pastorutti</h1>
		</header>
		<nav>
			<ul>
				<li><a href="agenda.html">AGENDA</a></li>
				<li><a href="biografia.html">BIOGRAFIA</a></li>
				<li><a href="videos.html">VIDEOS</a></li>
				<li><a href="discografia.html">DISCOGRAFIA</a></li>	
				<li><a href="contacto.html">CONTACTO</a></li>
			</ul>
		</nav>
		<main>
		<section>
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/1pewHDCWPE0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>	
		</section>
		<aside>
		</aside>
		</main>
		<footer>
		</footer>
	</body>
</html>